body {
  @apply font-sans antialiased text-black bg-white;
}
  
.content > p {
  @apply mb-5;

  &:last-of-type {
    @apply mb-0;
  }
}

.content > p a {
  @apply underline;

  &:hover, &:focus {
    @apply underline;
  }
}

.about-text {
  text-indent: 3rem;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, h6 {
  @apply p-0 mb-6;
}
  
.content > h1, .content > .h1 {
  @apply text-4xl;
}
  
.content > h2, .content > .h2 {
  @apply text-3xl;
}